{{> header}}

<main>
  <article>
    <h1>{{title}}</h1>
    <p>by {{user.username}} on {{format_date createdAt}}</p>
    <div>
      {{content}}
    </div>
  </article>

  <section id="comments">
    <h2>Comments</h2>
    {{#each comments}}
      <div class="comment">
        <p>{{this.comment_text}}</p>
        <p>by {{this.user.username}} on {{format_date this.createdAt}}</p>
      </div>
    {{else}}
      <p>No comments yet.</p>
    {{/each}}

    {{#if logged_in}}
      <form id="new-comment-form">
        <textarea name="comment_text" id="comment-text" rows="4" placeholder="Add a comment..."></textarea>
        <button type="submit">Submit</button>
      </form>
    {{else}}
      <p>You must be logged in to comment.</p>
    {{/if}}
  </section>
</main>

<script src="/js/comment.js"></script>
